# Python data types
- integeres      == int
    - 3 300 200

- floating point == float
    - 2.3 4.6 100.0
- string == str
    - "Hello this is a string"
- dictionaries == dict
    - unordered key value pairs 
    - {"myKey":"value", "name":"Frankie"}
- lists == list
    - ordered sequence of objects
    - (10, "hello", 200.3)    
- tuples  == tuples
    - ORDERED IMMUTABLE sequence of objects
    - (10, "hello", 200.3)
- Sets == set
    - UNORDERED collection of unique object 
    - {"a","b"}
- booleans == bool
    - True
    - False

In [1]:
2+1

3

In [2]:
2-1

1

In [3]:
2*2

4

In [4]:
2/3

0.6666666666666666

In [5]:
7/4

1.75

In [7]:
7%4

3

In [8]:
20%2

0

In [9]:
2 ** 3

8

In [10]:
2 + 10 * 10 + 3

105

In [11]:
(2+10) * (10 + 3)

156

In [12]:
 0.1+0.2-0.3

5.551115123125783e-17

In [13]:
0.1+0.2

0.30000000000000004

In [14]:
(0.1+0.2) -0.3

5.551115123125783e-17

Python uses dynamic tying
so you don't have to cast.

In [15]:
a = 10

In [16]:
a

10

In [17]:
a = a+a

In [18]:
a

20

In [19]:
a += a

In [20]:
a

40

In [21]:
type(a)

int

In [22]:
a = 30.1

In [23]:
type(a)

float

In [24]:
int = 4

In [25]:
int

4

In [1]:
int

int

In [2]:
a

NameError: name 'a' is not defined

In [9]:
my_income = 100;
tax_rate = 0.1;
myTax = my_income * tax_rate;

In [4]:
my_income

100

In [10]:
myTax

10.0

# h  e  l  l  o
- 0  1  2  3  4
- 0 -4 -3 -2 -1

# Slicing
## summary
[strart:stop:step]
- start num index where you start.
- stop is the index you will go up to BUT NOT INCLUDE
- step is the jump you take.

In [1]:
"hello world"

'hello world'

In [2]:
print('hello world');

hello world

In [3]:
myString = "Hello World";

In [4]:
myString

'Hello World'

In [7]:
myString[0]

'H'

In [2]:
myString = "Hello World";

In [3]:
myString

'Hello World'

In [4]:
myString[-1]

'd'

In [5]:
myString[2:]

'llo World'

In [6]:
myString[:3]

'Hel'

In [7]:
myString[2:5]

'llo'

In [8]:
myString[2:8]

'llo Wo'

In [9]:
myString[::]

'Hello World'

In [10]:
myString[::2]

'HloWrd'

In [11]:
myString[::1]

'Hello World'

In [12]:
myString[::2]

'HloWrd'

In [13]:
myString[::3]

'HlWl'

In [14]:
myString[::4]

'Hor'

In [15]:
myString[::5]

'H d'

In [16]:
myString[::6]

'HW'

In [17]:
myString[::7]

'Ho'

In [18]:
myString[::-1]

'dlroW olleH'

myString[::-1] == reverses string.

In [1]:
name = "Sam"

In [3]:
# name[0] = 'P'

In [4]:
last_letters = name[1:]

In [5]:
last_letters

'am'

In [8]:
'P'+last_letters

'Pam'

In [14]:
x = 'hello world'

In [15]:
x

'hello world'

In [16]:
x = x + ' is beautiful outside!'

In [17]:
x

'hello world is beautiful outside!'

In [18]:
2 + 3

5

In [19]:
'2' + '3'

'23'

In [20]:
x = 'Hello World'

In [21]:
x

'Hello World'

In [24]:
x.capitalize()

'Hello world'

In [25]:
x.upper()

'HELLO WORLD'

In [26]:
x.lower()

'hello world'

In [28]:
x.split()

['Hello', 'World']

x.split() will create a list based on white space.
However, if you you are able to put a delimiter w/ in the ('delimiter')

In [29]:
x = 'Hi this is a string.'

In [30]:
x.split('i')

['H', ' th', 's ', 's a str', 'ng.']

In [32]:
 print('This is a string {}'.format('Inserted') )

This is a string Inserted

In [33]:
print('The {} {} {}'.format('fox','brown','quick'))

The fox brown quick

In [34]:
print('The {2} {1} {0}'.format('fox','brown','quick'))

The quick brown fox

In [35]:
print('The {0} {0} {0}'.format('fox','brown','quick'))

The fox fox fox

In [37]:
print('The {f} {b} {q}'.format(f='fox',b='brown',q='quick'))

The fox brown quick

In [39]:
print('The {q} {b} {f}'.format(f='fox',b='brown',q='quick'))

The quick brown fox

In [40]:
result = 100/777

In [41]:
result

0.1287001287001287

In [43]:
 print('The result was {r}' .format(r=result))

The result was 0.1287001287001287

In [44]:
 print('The result was {r}' .format(r=result))

The result was 0.1287001287001287

# Float formatting follows "{value:width:precision f}"

In [46]:
 print('The result was {r:1.3f}' .format(r=result))

The result was 0.129

In [47]:
 print('The result was {r:20.6f}' .format(r=result))

The result was             0.128700

In [48]:
name = "Jose"

In [49]:
print('Hello my name is {}'.format(name))

Hello my name is Jose

In [50]:
print(f'Hello my name is {name}')

Hello my name is Jose

In [51]:
 myList = [1,2,3]

In [52]:
myList = ['STRING',100,23.2]

In [53]:
myList[0]

'STRING'

In [54]:
myList[1:]

[100, 23.2]

In [55]:
 myList = [1,2,3]

In [57]:
another_list = [4,5,'six']

In [58]:
catList = myList + another_list

In [59]:
catList

[1, 2, 3, 4, 5, 'six']

In [60]:
catList =  another_list + myList

In [61]:
catList

[4, 5, 'six', 1, 2, 3]

In [62]:
catList.append('seven')

In [63]:
catList

[4, 5, 'six', 1, 2, 3, 'seven']

In [64]:
 catList.pop()

'seven'

In [65]:
catList

[4, 5, 'six', 1, 2, 3]

In [66]:
poppedItem = catList.pop()

In [67]:
poppedItem

3

In [68]:
catList.pop(0)

4

In [69]:
catList

[5, 'six', 1, 2]

In [70]:
newList = ['a','e','x','b','c']

In [71]:
numList = [4,1,8,3]

In [72]:
newList.sort()

In [73]:
newList

['a', 'b', 'c', 'e', 'x']

newList.sort() alpha sorts the list

In [77]:
my_sorted_list = newList.sort() #returns nothing

In [79]:
 newList.sort()
my_sorted_list = newList
my_sorted_list

['a', 'b', 'c', 'e', 'x']

In [80]:
numList.sort()

In [81]:
numList

[1, 3, 4, 8]

In [82]:
numList.reverse()

In [83]:
numList

[8, 4, 3, 1]

test = [1,1,[1,2]]

In [85]:
test

[1, 1, [1, 2]]

In [86]:
test[2][1]

2

# this is how you retrieve a nested list index
test = [ 1 , 1 ,[ 1 , 2 ] ]
test
[1, 1, [1, 2]]
test[ 2 ] [ 1 ]  
2

# Dictionary
- are mappings
- objects are retrieved by a key name. 
- Unordered and can not be sorted
- a key can be defined as a list or another dictionary.
- ## orderddict

In [88]:
my = {'key1':'value1','key2':'value2'}

In [89]:
my

{'key1': 'value1', 'key2': 'value2'}

In [90]:
my['key1']

'value1'

In [91]:
pricesLookup = { 'apple':2.99,'oranges':1.99,'milk':5.80 }

In [92]:
pricesLookup

{'apple': 2.99, 'oranges': 1.99, 'milk': 5.8}

In [93]:
pricesLookup['milk']

5.8

In [94]:
d = {'key1':['a','b','c']}

In [95]:
d['key1'][2].upper()

'C'

In [96]:
d['k3'] = 3

In [97]:
d

{'key1': ['a', 'b', 'c'], 'k3': 3}

In [99]:
d.keys()

dict_keys(['key1', 'k3'])

In [100]:
d.values()

dict_values([['a', 'b', 'c'], 3])

# Tuplues
- immutable
- important when you want to make sure data does not change
- if data changes an error will occur

In [102]:
t =(1,2,3)

In [103]:
t

(1, 2, 3)

In [104]:
type(t)

tuple

In [105]:
len(t)

3

In [106]:
t  = ('one',2)

In [107]:
t

('one', 2)

In [108]:
t[-1]

2

In [109]:
t = ('a','a','b')

In [110]:
t
t.count('a')

2

In [111]:
t.index('a')

0

In [112]:
t[0] = 'new'

TypeError: 'tuple' object does not support item assignment

# Sets
- unordered collections of unique elements
- meaning htere can only be one represenativev of the same object
- mySet = set()

In [114]:
mySet = set()

In [115]:
mySet

set()

In [116]:
mySet.add(1)

In [117]:
mySet

{1}

In [118]:
mySet.add(2)

In [119]:
mySet

{1, 2}

In [120]:
mySet.add(2)

In [121]:
mySet

{1, 2}

In [122]:
myList = [1,1,1,1,1,1,1,1,1,1,2,2,2,2,2,2,2,3,3,3,3,3,3,3]

In [123]:
myList

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3]

In [124]:
set(myList)

{1, 2, 3}

# booleans
- true or false statements
- has to be : True
- has to be : False

In [128]:
True

True

In [129]:
1 == 1

True