# List Comprehensions 
- are a unique wau of quickly creating a list with python
- examples
    - ```myList = [x for x in 'word']```
    - ```myList = [num**2 for num in range(0,11,2)]```
    - ```myList = [x for x in range(0,11,3) if x%2==0]```
    - ```myList = [x if x%2==0 else 'ODD' for x in range(0,11)]```
    - ```myList = [x*y for x in [2,4,6] for y in [1,10,1000]]```

In [4]:
myString = 'hello'

In [6]:
myList = []
for letter in myString:
    myList.append(letter)

In [5]:
myList

['h', 'e', 'l', 'l', 'o']

In [8]:
myList = [letter for letter in myString]

In [9]:
myList

['h', 'e', 'l', 'l', 'o']

In [10]:
myList = [x for x in 'word']

In [11]:
myList

['w', 'o', 'r', 'd']

In [12]:
myList = [match for match in 'word2']

In [13]:
myList

['w', 'o', 'r', 'd', '2']

In [18]:
myList = [num for num in range(0,11,2)]

In [19]:
myList

[0, 2, 4, 6, 8, 10]

In [22]:
myList = [num**2 for num in range(0,11,2)]

In [23]:
myList

[0, 4, 16, 36, 64, 100]

In [28]:
myList = [x for x in range(0,11,3) if x%2==0]

In [29]:
myList

[0, 6]

In [33]:
celcius = [0,10,20,34.5]

fahrenheit = [( (9/5)*temp +32) for temp in celcius]

In [34]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [35]:
fahrenheit = []
for temp in celcius:
    fahrenheit.append(( (9/5)*temp +32))

In [36]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [37]:
results = [x if x%2==0 else 'ODD' for x in range(0,11)]

In [38]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [42]:
myList = []
for x in [2,4,6]:
    for y in [1,10,1000]:
        myList.append(x*y)

In [43]:
myList

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [47]:
myList = [x*y for x in [2,4,6] for y in [1,10,1000]]

In [48]:
myList

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]